/Proyectotickets/nbproject/private/
/Proyectotickets/Proyectotickets-war/nbproject/private/
/Proyectotickets/Proyectotickets-ejb/nbproject/private/
/Proyectotickets/Proyectotickets-ejb/build/
/Proyectotickets/Proyectotickets-ejb/dist/
/Proyectotickets/Proyectotickets-war/build/
/Proyectotickets/build/
/Proyectotickets/Proyectotickets-war/dist/
/Proyectotickets/dist/
/ProyectoTickets2/nbproject/private/
/ProyectoTickets2/ProyectoTickets2-war/nbproject/private/
/ProyectoTickets2/ProyectoTickets2-ejb/nbproject/private/
/ProyectoTickets2/ProyectoTickets2-ejb/build/
/ProyectoTickets2/ProyectoTickets2-war/build/
/ProyectoTickets2/build/
/ProyectoTickets2/ProyectoTickets2-war/dist/
/ProyectoTickets2/dist/
/Ticket/nbproject/private/
/Ticket/Ticket-war/nbproject/private/
/Ticket/Ticket-ejb/nbproject/private/
/Ticket/Ticket-ejb/build/
/Ticket/Ticket-ejb/dist/
/Ticket/Ticket-war/build/
/Ticket/build/
/Ticket/Ticket-war/dist/
/Ticket/dist/